# Virtual environments
*env/

# Python bytecode
*.pyc
__pycache__/

# Django SQLite database
db.sqlite3

# Logs
*.log

# Temporary files
*.tmp
*.bak

# System-specific files
.DS_Store  # macOS
Thumbs.db  # Windows