{% extends 'MGSariSari_Inventory/base.html' %}

{% block title %}Add Product Version{% endblock %}
{% block header %}Add New Product Version for {{ product.product_name }}{% endblock %}

{% block content %}
    <h2>Add New Product Version for {{ product.product_name }}</h2>
    
    <form method="POST" class="form">
        {% csrf_token %}
        
        <!-- Product Version Form Fields -->
        {{ form.as_p }}
        
        <!-- Submit and Cancel buttons -->
        <button type="submit" class="button save">Save Version</button>
        <a href="{% url 'ProductManagement_APP:product_versions' product.product_id  %}" class="button cancel">Cancel</a>
    </form>

    <!-- Display error messages if any -->
{% endblock %}
