{% extends 'MGSariSari_Inventory/base.html' %}

{% block title %}Edit Product Version{% endblock %}
{% block header %}Edit Product Version: {{ version.product.product_name }}{% endblock %}

{% block content %}
    <h2>Edit Product Version</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button save">Save Changes</button>
        <a href="{% url 'ProductManagement_APP:product_versions' version.product.product_id %}" class="button cancel">Cancel</a>
    </form>
{% endblock %}
